$purple: #662D91;
$pink: rgba(255,0,255,0.7);
$blue: rgba(0,255,255,0.7);

@font-face {
  font-family: moonBold;
  src: url("../assets/MoonBold.otf") format("opentype");
}

body {
  text-align: center;
  margin: 0px;
}

.main {
  &__container {
    height: 100%;
    width: 100%;
    display: table;
    &--grey {
      background-color: #E9ECF7;
    }
    &--yellow {
      background-color: #EFF3CA;
    }
  }
}

.component {
  &__container {
    height: 100%;
    width: 30%;
    padding-top: 45px;
    display: inline-block;
  }
  &__image {
    display: inline-block;
    height: 100px;
  }
  &__logo {
    display: inline-block;
    height: 100%;
  }
}