body {
  text-align: center;
  margin: 0px;
}

.main {
  height: 100%;
  width: 100%;
  
  &__backdrop {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  &__content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}