.container {
  height: 100%;
  width: 100%;
  // background: $pink;
  display: inline-flex;
  align-items: center;

  &__inner {
    // background-color: $blue;
    width: 26.5%;
    left: 17%;
    transform: translateY(-3%);
  }
  &__image {
    margin-bottom: 6%;
  }
  &__logo {
    height: 12%;
  }
}