.dropdown {
  &__container {
    background: white;
    height: 130px;
    width: 190px;
    border: $black-border;
    border-radius: 15px;
    overflow: hidden;
  }
  &__header {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 30%;
    width: 100%;
    border-bottom: $black-border;
    background: #E9ECF7;
    &--text {
      font-family: 'Lato', sans-serif;
      color: #58595B;
      padding: 10px;
      margin: 0px;
    }
  }
  &__list {
    font-family: moonLight;
    height: 70%;
    width: 100%;
    overflow: auto;
    &--active {
      color: $purple;
      list-style-type: disc;
    }
    &--text {
      font-family: 'Lato', sans-serif;
      color: #939598;
      margin: 0px;
    }
  }

  &__list::-webkit-scrollbar {
    width: 5px;
  }
  &__list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  &__list::-webkit-scrollbar-thumb {
    background: #414042; 
    border-radius: 10px;
  }

  &__list ul {
    cursor: pointer;
    margin: 0;
    text-align: left;
    padding-top: 3px;
    padding-left: 25px;
    list-style-type: circle;
  }
  &__list li:hover {
    color: $purple;
    list-style-type: disc;
  }
}