.row {
  // background: red;
  margin-bottom: 10px;
}
.column, .columns {
  // background: blue;
}

.login {
  &__content {
    width: 100%;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////
.login {
  font-family: moonBold;
  position: relative;
  z-index: 1;
  // background-color: $pink;
  // height: 100%;
  // width: 100%;

  &__header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 7%;
  }

  &__text {
    font-size: $header-font-size;
    color: white;
    margin: 0;
    white-space: nowrap;
  }

  &__sub-header-text {
    color: white;
    margin: 0;
    font-size: 0.8vw;
    margin-bottom: 10%;
    padding: 0 11%;
    font-family: 'Lato', sans-serif;
  }

  &__arrow {
    height: 6%;
    margin-right: 10%;
    cursor: pointer;
  }
  
  &__checkmark {
    height: 11%;
    cursor: pointer;
  }

  &__forgot-pass {
    display: inline-flex;
    margin-bottom: 1.3vw;
    cursor: pointer;
    &--text {
      margin-top: 0 !important;
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
    }
    &--circle {
      stroke: white;
      stroke-width:1.5;
      fill:none;
    }
    &--solid {
      stroke: white;
      stroke-width:1.5;
      fill: white;;
    }
  }

  &__circle {
    // cursor: pointer;
    &--solid {
      @include themify($themes) {
        fill: themed('shadow');
      }
      stroke: none;
      stroke-width: 0;
      cursor: pointer;
    }
    &--empty {
      fill: white;
      @include themify($themes) {
        stroke: themed('shadow');
      }
      stroke-width: 0.5;
    }
  }

  &__modal {
    font-family: 'Lato', sans-serif;
    color: #58595B;
    &--hyperlink {
      @include themify($themes) {
        color: themed('buttonShadow');
      }
      text-decoration: none;
      font-weight: bold;
      font-style: italic;
    }
    &--hyperlink:hover {
      text-decoration: underline;
    }
  }

  &__input {
    height: $input-height;
    width: 100%;
    border: none;
    border-radius: 25px;
    @include themify($themes) {
      box-shadow: 0px 3px themed('shadow');
    }
    background: #FFFFFF;
    margin-bottom: 5%;
    padding-left: 20px;
    font-family: moonBold;
    font-size: $font-size;

    &--small {
      width: 49%;
    }
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }
  &__input::placeholder {
    color: #D1D3D4;
    font-family: moonBold;
    font-size: 100%;
  }
  &__input:focus{
    outline: none;
  }

  &__button-container {
    display: inline-flex;
    align-items: center;
  }

  &__button:focus{
    outline: none;
  }
  &__button {
    height: $button-height;
    width: 23.95%;
    @include themify($themes) {
      border: solid 1px themed('button');
      box-shadow: 0px 3px themed('buttonShadow');
      background: themed('button');
    }
    border-radius: 33px;
    cursor: pointer;
    &--spec {
      height: 2.7vw;
      width: 7vw;
    }
    &--start {
      width: 210px;
    }
    &--text {
      font-family: moonBold;
      font-size: 1.2vw;
      color: white;
      // padding: 0 15%;
      white-space: nowrap;
    }
  }
  &__button:hover {
    @include themify($themes) {
      border: solid 1px themed('buttonShadow');
    }
    border-radius: 33px;
    background: white;
  }
  &__button:hover > .login__button--text {
    @include themify($themes) {
      color: themed('buttonShadow');
    }
  }

  &__bottom-text {
    color: white;
    font-family: 'Lato', sans-serif;
    white-space: nowrap;
    font-size: 8pt;
    margin-top: 20px;
    &--hyperlink {
      font-weight: bold;
      font-style: italic;
      margin-right: 2px;
    }
  }
  &__bottom-text a {
    @include themify($themes) {
      color: themed('hyperlink');
    }
    text-decoration: none;
    cursor: pointer;
  }
  &__bottom-text a:hover {
    text-decoration: underline;
  }
  
  &__getstarted {
    &__text {
      color: white;
      font-family: 'Lato', sans-serif;
      margin: 0 0 10% 0;
      &--bold {
        font-weight: bold;
      }
      &--italic {
        font-style: italic;
        color: #262262;;
        margin-right: 2px;
        cursor: pointer;
      }
      &--small-bm {
        margin: 0 0 5% 0;
      }
    }
  }
  
  &__getstarted-buttons {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 4%;
  }
  &__getstarted-button {
    height: 6%;
    width: 49%;
    border: none;
    border-radius: 33px;
    @include themify($themes) {
      box-shadow: 0px 3px themed('shadow');
    }
    background: white;
    cursor: pointer; 
    &--left {
      margin-right: 2%;
    }
    &--right {
      background: $purple;
    }
    &__text {
      font-family: moonBold;
      font-size: 1.2vw;
      color: black;
      &--white {
        color: white;
      }
    }
  }
  &__getstarted-button:focus {
    outline: none;
  }

  &__preview-container {
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    height: 20%;
    width: 100%;
    background: white;
    margin-bottom: 20px;
  }
  &__preview-inner {
    height: 75%;
    width: 92%;
    background: #f1f2f2;
    margin-left: auto;
    margin-right: auto;
    // text-align: center;
    display: table;
  }
  &__preview-text {
    font-family: 'Lato', sans-serif;
    color: #414042;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
  }

  &__projects-dropdown {
    margin-bottom: 0 !important;
  }

  &__drawer {
    background-color: white;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-bottom: 15px;
    padding: 10px;
    
    &__item {
      @include themify($themes) {
        background-color: themed('backgroundColor');
      }
      height: 4%;
      width: 49%;
      border-radius: 15px;
      border: none;
      margin-bottom: 2%;
      padding-left: 10px;
      font-family: moonBold;
    }
    &__item:focus {
      outline: none;
    }
    &__item:nth-child(odd) {
      margin-right: 2%;
    }
    &__item::placeholder{
      color: white;
    }
  }
}