.login {
  text-align: center;
  font-family: moonBold;
  &__text {
    font-size: 38.77pt;
    color: #231F20;
  }
  &__input {
    // height: 56px;
    height: 7%;
    width: 100%;
    border: solid 0.5px #231F20;
    border-radius: 25px;
    background: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: moonBold;
    font-size: 20.8pt;
    &--small {
      width: 49%;
    }
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }
  &__input::placeholder {
    color: #D1D3D4;
    font-family: moonBold;
    font-size: 100%;
  }
  &__input:focus{
    outline: none;
  }
  &__arrow {
    margin-right: 35px;
    cursor: pointer;
  }
  &__start-button-container {
    width: 100%;
  }
  &__start-button-inner {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
  }
  &__button:focus{
    outline: none;
  }
  &__button {
    height: 56px;
    width: 145px;
    border: none;
    border-radius: 33px;
    background: $purple;
    &--start {
      width: 210px;
    }
    &--text {
      font-family: moonBold;
      font-size: 20.8pt;
      color: white;
    }
  }
  &__button:hover {
    border: solid 0.5px $purple;
    border-radius: 33px;
    background: white;
  }
  &__button:hover > .login__button--text {
    color: $purple;
  }
  &__bottom-text {
    color: #414042;
    font-family: 'Lato', sans-serif;
    white-space: nowrap;
    font-size: 8pt;
    margin-top: 20px;
  }
  &__bottom-text a {
    color: $purple;
    cursor: pointer;
  }
  &__steps {
    margin-bottom: 20px;
  }
}
