.login {
  font-family: moonBold;
  position: relative;
  z-index: 1;
  // background-color: $pink;
  // height: 100%;
  // width: 100%;

  &__header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 7%;
  }

  &__text {
    // font-size: 38.77pt;
    // font-size: 25pt;
    font-size: $header-font-size;
    color: white;
    margin: 0;
    // margin-top: 2.5vw;
    // margin-bottom: 10%;
    white-space: nowrap;
  }

  &__arrow {
    height: 6%;
    margin-right: 10%;
    cursor: pointer;
  }

  &__forgot-pass {
    display: inline-flex;
    margin-bottom: 1.3vw;
    cursor: pointer;
    &--text {
      margin-top: 0 !important;
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
    }
    &--circle {
      stroke: white;
      stroke-width:1.5;
      fill:none;
    }
    &--solid {
      stroke: white;
      stroke-width:1.5;
      fill: white;;
    }
  }

  &__circle {
    // cursor: pointer;
    &--solid {
      fill: $theme-shadow;
      stroke: none;
      stroke-width: 0;
      cursor: pointer;
    }
    &--empty {
      fill: white;
      stroke: $theme-shadow;
      stroke-width: 0.5;
    }
  }

  &__modal {
    font-family: 'Lato', sans-serif;
    color: #58595B;
    &--hyperlink {
      color: $orange-shadow;
      text-decoration: none;
      font-weight: bold;
      font-style: italic;
    }
    &--hyperlink:hover {
      text-decoration: underline;
    }
  }

  &__input {
    height: $input-height;
    width: 100%;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 3px $theme-shadow;
    background: #FFFFFF;
    margin-bottom: 5%;
    padding-left: 20px;
    font-family: moonBold;
    font-size: $font-size;

    &--small {
      width: 49%;
    }
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }
  &__input::placeholder {
    color: #D1D3D4;
    font-family: moonBold;
    font-size: 100%;
  }
  &__input:focus{
    outline: none;
  }

  &__button:focus{
    outline: none;
  }
  &__button {
    // height: 47px;
    height: $button-height;
    width: 23.95%;
    border: solid 1px $orange;
    border-radius: 33px;
    box-shadow: 0px 3px $orange-shadow;
    background: $orange;
    cursor: pointer;
    &--start {
      width: 210px;
    }
    &--text {
      font-family: moonBold;
      font-size: 1.2vw;
      color: white;
    }
  }
  &__button:hover {
    border: solid 1px $orange-shadow;
    border-radius: 33px;
    background: white;
  }
  &__button:hover > .login__button--text {
    color: $orange-shadow;
  }

  &__bottom-text {
    color: white;
    font-family: 'Lato', sans-serif;
    white-space: nowrap;
    font-size: 8pt;
    margin-top: 20px;
    &--hyperlink {
      font-weight: bold;
      font-style: italic;
      margin-right: 2px;
    }
  }
  &__bottom-text a {
    color: #262262;
    text-decoration: none;
    cursor: pointer;
  }
  &__bottom-text a:hover {
    text-decoration: underline;
  }

}