$black-border: solid 1px #231F20;
$purple: #662D91;
$pink: rgba(255,0,255,0.7);
$blue: rgba(0,255,255,0.7);
$white: rgba(255,255,255,0.7);

$header-font-size: 2.1vw;
$font-size: 1.2vw;
$input-height: 5.83%;
$button-height: 4.76%;

$themes: (
  toronto: (
    backgroundColor: #7CCED0,
    shadow: #42a5a5,
    button: #F9A87A,
    buttonShadow: #F26722,
    buttonTextColor: white,
    hyperlink: #262262
  ),
  ottawa: (
    backgroundColor: #F9BAC0,
    shadow: #CE5D6D,
    button: #AFD9AB,
    buttonShadow: #61B258,
    buttonTextColor: white,
    hyperlink: #CE4A52
  ),
  edmonton: (
    backgroundColor: #BFA1CC,
    shadow: #8D58A4,
    button: #F5F087,
    buttonShadow: #A79733,
    buttonTextColor: black,
    hyperlink: #70439A
  ),
  vancouver: (
    backgroundColor: #ADDBC5,
    shadow: #569B78,
    button: #DBB3AD,
    buttonShadow: #A5706A,
    buttonTextColor: white,
    hyperlink: #3B8E68
  ),
);

/*
 * Implementation of themes
 */
 @mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@font-face {
  font-family: moonBold;
  src: url("../assets/MoonBold.otf") format("opentype");
}
